<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>WisprClone</string>
	<key>CFBundleIdentifier</key>
	<string>com.wisprclone.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WisprClone</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to the microphone to record your voice for transcription.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition to convert your voice to text locally.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>We need to control other applications to paste text.</string>
</dict>
</plist>
